/*? Стили для хедера */
.header {
  padding-top: 54px;
  padding-bottom: 112px;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Логотип  */
.header-logo {
  display: flex;
  align-items: center;

  color: var(--text);
  font-style: bold;
}
.header-image {
  width: 60px;
  height: 50px;

  margin-right: 10px;
}
.logo-wrap {
  margin-left: 8px;
  color: var(--text-second);
}

/** Языки  */
.header-language {
  display: flex;
  align-items: center;
}
.header-language__eng {
  margin-right: 24px;
}
.header-language__ukr {
  margin-right: 24px;
}
.header-language__ru {
}

/** Навигация  */
.header-nav {
}
.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-item {
}
.header-link {
  color: var(--white);
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.header-link:hover {
  color: rgb(221, 221, 221);
}

.header-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(221, 221, 221);
  transform: scale(0);
  transition: transform var(--animation);
}
.header-link:hover::after {
  transform: scale(1);
}
