@charset "UTF-8";
/** Ограничивающий контейнер */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*? Переменные с цветами */
:root {
  /* Основные цвета */
  --white: #fff;
  --black: #000;
  /* Для текста */
  --text: #111111;
  --text-second: #444444;
  /* Для фона */
  --bcg: #f2f2f2;
  /* Анимация */
  --animation: 300ms ease-in-out;
  /* Отступы */
  --gap-card: 30px;
}

/*? Для сброса дефолтных маржин/падингов */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--black);
  min-width: 320px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
}

iframe {
  border: none;
}

/*? Хедер */
/*? Стили для хедера */
.header {
  padding: 14px 20px;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Логотип  */
.header-logo {
  display: flex;
  align-items: center;
  color: var(--text);
}

.header-image {
  width: 60px;
  height: 50px;
  margin-right: 10px;
}

.logo-wrap {
  margin-left: 8px;
  color: var(--text-second);
}

/** Языки  */
.header-language {
  display: none;
  align-items: center;
}

.header-language__eng {
  padding: 10px;
  margin-right: 24px;
}

.header-language__eng:hover {
  outline: 1px solid var(--text-second);
  border-radius: 50%;
  color: var(--white);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(111, 111, 111, 0.7) 30%, rgba(149, 149, 149, 0.7) 60%, rgba(162, 162, 162, 0.7) 100%), url(https://cdn.pixabay.com/photo/2012/04/10/16/14/union-jack-26119__480.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-language__ukr {
  padding: 10px;
  margin-right: 24px;
}

.header-language__ukr:hover {
  outline: 1px solid var(--text-second);
  border-radius: 50%;
  color: var(--white);
  background-image: linear-gradient(180deg, rgba(0, 61, 255, 0.4) 30%, rgba(255, 252, 0, 0.4) 70%), url(https://irc-consult.com/wp-content/uploads/2020/12/ukraine-national-fabric-flag-textile-background-symbol-of-international-world-european-country_113767-2440.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-language__ru {
  padding: 10px;
}

.header-language__ru:hover {
  outline: 1px solid var(--text-second);
  border-radius: 50%;
  color: var(--white);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 20%, rgba(0, 31, 255, 0.1993172269) 50%, rgba(255, 255, 255, 0.4009978992) 80%), url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Anti-war_flag_of_Russian_protesters_%282022%29.svg/250px-Anti-war_flag_of_Russian_protesters_%282022%29.svg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/** Навигация  */
.header-list {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header-link {
  color: var(--black);
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.header-link:hover {
  color: rgb(221, 221, 221);
}

.header-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(221, 221, 221);
  transform: scale(0);
  transition: transform var(--animation);
}

.header-link:hover::after {
  transform: scale(1);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 30px;
  }

  .header-flex {
    justify-content: flex-start;
  }

  .header-wrap {
    display: flex;
  }

  .header-logo {
    margin-right: 20px;
  }

  .header-language {
    display: flex;
    align-items: center;
  }

  .header-language__eng {
    margin-right: 4px;
  }

  .header-language__ukr {
    margin-right: 4px;
  }

  .header-language__ru {
    margin-right: 4px;
  }

  .header-list {
    display: flex;
    flex-direction: row;
  }

  .header-link:hover {
    color: var(--black);
  }

  .header-link::after {
    background-color: #68b738;
  }
}
/*? Блок-герой */
.hero {
  padding-top: 24px;
  padding-bottom: 82px;
}

.hero-title {
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 40px;
  color: var(--white);
  text-align: center;
}

.hero-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 52px;
  color: var(--white);
  text-align: center;
}

.hero-button {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 14px 26px;
  color: var(--white);
  background-color: #68b738;
  text-transform: uppercase;
  transition: background-color var(--animation);
  box-shadow: 1px 1px 44px 13px rgba(0, 0, 0, 0.75);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #519129;
}

.hero-button:active {
  outline: 1px solid var(--black);
}

.hero-image {
  width: 529px;
}

.hero-background {
  z-index: -1;
  position: absolute;
  top: 78px;
  right: 0;
}

/*? Блок с программой  */
.program {
  padding-top: 20px;
  padding-bottom: 70px;
}

.program-list {
  display: flex;
  flex-direction: column;
}

.program-item {
  display: block;
  padding: 44px 52px 54px 42px;
  background-color: var(--bcg);
}

.program-item:not(:last-child) {
  margin-bottom: 20px;
}

.program-wrap {
  display: flex;
  align-items: center;
}

.program-title {
  margin-left: 62px;
  margin-top: 38px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.program-description {
  font-family: "Arial";
  margin-top: 40px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.program-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: all var(--animation);
}

.program-link:hover {
  color: #519129;
}

.program-link:hover .program-icon {
  fill: #519129;
}

.program-icon {
  width: 30px;
  height: 10px;
  transition: all var(--animation);
}

/*? Блок "Как это работает?" */
.work {
  padding-bottom: 50px;
}

.work-title {
  text-align: left;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 60px;
}

.work-list {
  margin-top: calc(-1 * var(--gap-card));
  margin-left: calc(-1 * var(--gap-card));
}

.work-item {
  display: flex;
  align-items: center;
  position: relative;
  flex-basis: calc(25% - var(--gap-card));
  margin-top: var(--gap-card);
  margin-left: var(--gap-card);
}

.work-item:not(:last-child) {
  margin-bottom: 0;
}

.work-img {
  width: 80px;
  height: 80px;
  margin-bottom: 32px;
}

.work-text {
  margin-left: 20px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.work-numbers {
  display: none;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 10px;
  font-weight: 400;
  font-size: 280px;
  line-height: 280px;
  text-align: center;
  color: #f2f2f2;
}

/*? Блок "Живой пример" */
.example {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 40px;
}

.example-flex {
  justify-content: space-between;
}

.example-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 76px;
  text-align: center;
}

.example-text {
  display: block;
  width: 436px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 68px;
  text-align: center;
}

.example-list {
  display: flex;
  justify-content: center;
}

.example-item {
  position: relative;
  padding: 15px 30px 10px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.example-item:not(:last-child) {
  margin-right: 42px;
}

.example-main {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 12px;
}

.example-second {
  position: absolute;
  bottom: -4px;
  padding: 0 5px;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
}

.example-pay {
  margin-top: 54px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example-wrap {
  margin-top: 30px;
}

.example-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-label {
  display: flex;
  align-items: center;
  width: 100%;
}

.example-slider {
  margin: 0;
  background-color: inherit;
}

/*! Стилизация для инпута */
input[type=range] {
  height: 42px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000;
  background: #cdcdcd;
  border-radius: 6px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #cdcdcd;
  height: 34px;
  width: 34px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cdcdcd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000;
  background: #cdcdcd;
  border-radius: 6px;
  border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #cdcdcd;
  height: 34px;
  width: 34px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #cdcdcd;
  border: 0px solid #010101;
  border-radius: 12px;
  box-shadow: 0px 0px 1px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #cdcdcd;
  border: 0px solid #010101;
  border-radius: 12px;
  box-shadow: 0px 0px 1px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #cdcdcd;
  height: 34px;
  width: 34px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #cdcdcd;
}

input[type=range]:focus::-ms-fill-upper {
  background: #cdcdcd;
}

/*! Край инпута */
.example-img__dscrpt {
  margin-left: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

/*? Блок с картой */
.map {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--white);
  box-shadow: 1px -3px 44px 8px rgba(0, 0, 0, 0.27) inset;
}

.map-card {
  width: 100%;
  height: 400px;
}

/*? Футер */
.footer {
  padding: 28px 0 28px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-list {
  display: flex;
}

.footer-item:not(:last-child) {
  margin-right: 20px;
}

.footer-link {
  display: block;
}

.footer-icon {
  width: 33px;
  height: 33px;
  fill: #666666;
  transition: fill var(--animation);
}

.vk:hover {
  fill: #4680c2;
}

.facebook:hover {
  fill: #3b5998;
}

/* ! */
.footer-instagram svg stop {
  transition: var(--animation);
}

.footer-instagram svg.linear-gradient path {
  fill: url(#linearGradient-1);
}

.footer-instagram svg:hover #linearGradient-1 stop:nth-child(1) {
  stop-color: #405de6;
}

.footer-instagram svg:hover #linearGradient-1 stop:nth-child(2) {
  stop-color: #5851db;
}

.footer-instagram svg:hover #linearGradient-1 stop:nth-child(3) {
  stop-color: #c13584;
}

.footer-instagram svg:hover #linearGradient-1 stop:nth-child(4) {
  stop-color: #fd1d1d;
}

.footer-instagram svg:hover #linearGradient-1 stop:nth-child(5) {
  stop-color: #ff9900;
}

/* ! */
/* test adaptive */
@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
  }

  .hero-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-align: start;
  }

  .hero-button {
    width: 244px;
  }

  .hero-background {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */