.program {
  padding-bottom: 70px;
}
.program-list {
  display: flex;
  align-items: center;
}
.program-item {
  display: block;
  width: 540px;
  height: 374px;

  padding-left: 52px;
  padding-right: 52px;

  background-color: var(--bcg);
}
.program-item:not(:last-child) {
  margin-right: 80px;
}
.program-wrap {
  display: flex;
  align-items: center;
}
.program-img {
  /* margin-left: 52px; */
  margin-top: 42px;
}
.program-title {
  margin-left: 62px;
  margin-top: 38px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.program-description {
  margin-top: 40px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.program-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.program-icon {
  width: 50px;
  height: 10px;
}
