@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
  }
  .hero-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-align: start;
  }
  .hero-button {
    width: 244px;
  }
  .hero-background {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
}
