@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .hero-flex {
    display: flex;
    justify-content: flex-start;
  }
  .hero-background {
    display: block;
    top: 0;
  }
}
