.program {
  padding-top: 20px;
  padding-bottom: 70px;
}
.program-list {
  display: flex;
  flex-direction: column;
}
.program-item {
  display: block;
  width: 540px;
  height: 374px;

  padding: 44px 52px 54px 42px;

  background-color: var(--bcg);
}
.program-item:not(:last-child) {
  margin-right: 80px;
}
.program-wrap {
  display: flex;
  align-items: center;
}
.program-img {
}
.program-title {
  margin-left: 62px;
  margin-top: 38px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.program-description {
  font-family: "Arial";
  margin-top: 40px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.program-link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: all var(--animation);
}
.program-link:hover {
  color: #519129;
}

.program-link:hover .program-icon {
  fill: #519129;
}

.program-icon {
  width: 30px;
  height: 10px;
  transition: all var(--animation);
}
