:root {
  /* Основные цвета */
  --white: #fff;
  --black: #000;
  /* Для текста */
  --text: #111111;
  --text-second: #444444;
  /* Для фона */
  --bcg: #f2f2f2;
  /* Анимация */
  --animation: 300ms ease-in-out;
  /* Отступы */
  --gap-card: 30px;
}
