.information {
  padding: 20px 0 89px;
}
.information-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 1;

  margin-bottom: 56px;
}

.information-article {
  line-height: 1.5;

  text-transform: uppercase;
  margin-bottom: 66px;
}

.information-form {
  color: var(--text-second);
  line-height: 30px;
}

.form-content {
  display: flex;
  justify-content: space-between;
}

.form-list {
  width: 100%;
  max-width: 568px;
  margin-right: 80px;
}

.form-item {
  display: flex;
  align-items: center;
}

.form-item:not(:last-child) {
  margin-bottom: 20px;
}

.form-label {
  white-space: nowrap;
  text-transform: uppercase;
}

.form-input {
  width: 100%;
  outline: transparent;

  text-transform: uppercase;
  margin-left: 13px;
  padding: 10px 20px;
  border: 1px solid #e7e7e7;
  transition: border var(--animation);
}

.form-input:hover {
  border: 1px solid #cdcdcd;
}
.form-input:invalid {
  border: 2px solid #ff8282;
}

.form-input:focus {
  border: 2px solid var(--text-second);
}

.meal {
  width: 100%;
  max-width: 568px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 28px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}

.meal-input {
  outline: transparent;
  margin-right: 20px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: border var(--animation);
}

.meal-label {
  display: flex;
  align-items: center;
  transition: opacity var(--animation);
}

.meal-label:hover .radiobutton {
  border: 1px solid #bababa;
}

.meal-input:focus + .radiobutton {
  border: 1px solid var(--text-second);
}

.meal-label:active {
  opacity: 0.3;
}

.radiobutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 40px;
  height: 40px;

  border: 1px solid #cdcdcd;
  border-radius: 50px;
  transition: border var(--animation), background-color var(--animation);
}

.radiobutton-icon {
  transition: background-color var(--animation);
}

.meal-input:checked + .radiobutton .radiobutton-icon {
  width: 18px;
  height: 18px;

  background-color: var(--button);
  border-radius: 50px;
}

.contacts {
  position: relative;
  border-top: 2px solid #68b738;

  padding: 88px 0 93px;
}

.contacts-subtitle {
  position: absolute;
  top: -22px;

  padding: 0 40px;
  font-size: 36px;
  line-height: 36px;
  background-color: var(--white);
}

.contacts-list {
  display: flex;
  justify-content: space-between;

  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-second);
}

.contacts-item {
  width: 570px;
}
.contacts-item:not(:last-child) {
  margin-right: 78px;
}

.contacts-label {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.contacts-input {
  width: 100%;
  outline: transparent;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 10px 20px;
  border: 1px solid #e7e7e7;
  transition: border var(--animation);
}

.contacts-input:hover {
  border: 1px solid #cdcdcd;
}

.contacts-input:focus {
  border: 2px solid var(--text-second);
}
.contacts-input:invalid {
  border: 2px solid #ff8282;
}

.contacts-input:focus + .contacts-icon {
  fill: var(--button);
}

.contacts-input:invalid + .contacts-icon {
  fill: #ff8282;
}

.contacts-icon {
  position: absolute;
  top: 18px;
  right: 19px;
  fill: var(--text-second);
  transition: fill var(--animation);
}

.feedback {
  position: relative;
  border-top: 2px solid #68b738;

  padding: 88px 0 93px;
}

.feedback-subtitle {
  position: absolute;
  top: -22px;

  padding: 0 40px;
  font-size: 36px;
  line-height: 36px;
  background-color: var(--white);
}

.feedback-area {
  padding: 10px 20px;
  line-height: 30px;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  resize: none;
}

.additional {
  position: relative;
  border-top: 2px solid #68b738;

  padding: 68px 0 82px;
}

.additional-subtitle {
  position: absolute;
  top: -22px;

  padding: 0 40px;
  font-size: 36px;
  line-height: 36px;
  background-color: var(--white);
}

.additional-list {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  text-transform: uppercase;
}

.additional-input {
  margin-right: 20px;
}

.submit {
  margin-top: 68px;
  display: flex;
  align-items: center;
}

.form-button {
  margin-right: 81px;
  padding: 13px 188px;
  text-transform: uppercase;
  background-color: var(--button);
}
