.footer {
  padding: 28px 0 28px 0;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &-logo {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--text);
    transition: opacity var(--animation);
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &__wrap {
      margin-left: 8px;
      color: var(--text-second);
    }
  }
  &-image {
    width: 60px;
    height: 50px;

    margin-right: 10px;
  }
  &-list {
    display: flex;
  }
  &-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &-link {
    display: block;
  }
  &-icon {
    width: 33px;
    height: 33px;
    fill: #666666;
    transition: fill var(--animation);
  }
}
.vk:hover {
  fill: #4680c2;
}
.facebook:hover {
  fill: #3b5998;
}

//! Подсветка иконки инстаграма */
.footer-instagram svg stop {
  transition: var(--animation);
}
.footer-instagram svg.linear-gradient path {
  fill: url(#linearGradient-1);
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(1) {
  stop-color: #405de6;
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(2) {
  stop-color: #5851db;
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(3) {
  stop-color: #c13584;
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(4) {
  stop-color: #fd1d1d;
}
.footer-instagram svg:hover #linearGradient-1 stop:nth-child(5) {
  stop-color: #ff9900;
}
// ! */

@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: space-between;
  }
}
