/*? Стили для хедера */
.header {
  padding: 14px 20px;
  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  //** Логотип  */
  .header-logo {
    display: flex;
    align-items: center;
    color: var(--text);
    transition: opacity var(--animation);
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
    &__wrap {
      margin-left: 8px;
      color: var(--text-second);
    }
  }
  &-image {
    width: 60px;
    height: 50px;

    margin-right: 10px;
  }
  //** Языки  */
  &-lang {
    display: none;
  }
  &-list {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &-link {
    color: var(--black);
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 6px;

    &:hover {
      transition: background-image var(--animation);
      color: #ffffff60;
    }

    &:active {
      color: #ffffff30;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 30px;
    &-flex {
      justify-content: space-around;
    }
    &-wrap {
      align-items: center;
    }
    &-logo {
      margin-right: 0;
    }
    &-lang {
      display: none;
    }
    &-list {
      display: none;
    }
    &-link {
      &__active {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          background-color: var(--white);
          transition: background-color 80ms ease-in-out;
        }
        &:hover::after {
          background-color: #ffffff60;
        }
      }
      &:hover {
        color: #00000060;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 54px 62px;
    &-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-wrap {
      display: flex;
      align-items: center;
    }
    &-lang {
      display: flex;
      align-items: center;
      margin-right: 120px;
      &__item {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
      &__link {
        padding: 10px;
      }
    }
    &-logo {
      margin-right: 0px;
    }
    &-list {
      display: flex;
      flex-direction: row;
      width: 480px;
      align-items: center;
      gap: 30px;
    }
    &-link {
      color: var(--white);
      transition: color var(--animation);
      &:hover {
        color: #ffffff60;
      }
      &:active {
        color: #ffffff30;
      }
      &__black {
        color: var(--black);
        line-height: 30px;
        text-transform: uppercase;
        padding-bottom: 6px;
        transition: color var(--animation);
        &:hover {
          color: #00000060;
        }
        &:active {
          color: #00000030;
        }
      }
      &__catalog {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          background-color: #68b738;
          transition: transform var(--animation);
        }
      }
    }
  }
}

.mobile-link__eng {
  &:hover {
    outline: 1px solid var(--text-second);
    border-radius: 50%;
    color: var(--white);
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(111, 111, 111, 0.7) 30%,
        rgba(149, 149, 149, 0.7) 60%,
        rgba(162, 162, 162, 0.7) 100%
      ),
      url(https://cdn.pixabay.com/photo/2012/04/10/16/14/union-jack-26119__480.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.mobile-link__ua {
  &:hover {
    outline: 1px solid var(--text-second);
    border-radius: 50%;
    color: var(--white);
    background-image: linear-gradient(
        180deg,
        rgba(0, 61, 255, 0.4) 30%,
        rgba(255, 252, 0, 0.4) 70%
      ),
      url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/250px-Flag_of_Ukraine.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.mobile-link__ru {
  &:hover {
    outline: 1px solid var(--text-second);
    border-radius: 50%;
    color: var(--white);
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 20%,
        rgba(0, 31, 255, 0.19931722689075626) 50%,
        rgba(255, 255, 255, 0.4009978991596639) 80%
      ),
      url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Anti-war_flag_of_Russian_protesters_%282022%29.svg/250px-Anti-war_flag_of_Russian_protesters_%282022%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
