.program {
  padding-top: 20px;
  padding-bottom: 70px;
  &-list {
    display: flex;
    flex-direction: column;
  }
  &-item {
    display: block;

    padding: 44px 52px 54px 42px;

    background-color: var(--bcg);
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &-wrap {
    display: flex;
    align-items: center;
  }
  &-title {
    margin-left: 20px;
    margin-top: 38px;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }
  &-description {
    font-family: "Arial";
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  &-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: all var(--animation);
    &:hover {
      color: #519129;
      & .program-icon {
        fill: #519129;
      }
    }
  }
  &-icon {
    width: 30px;
    height: 10px;
    transition: all var(--animation);
  }
}

@media screen and (min-width: 1200px) {
  .program {
    &-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-item {
      width: 570px;
      height: 374px;
      &:not(:last-child) {
        margin: 0;
      }
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
